.topbar {
  width: 100%;
  height: 70px;
  background-color: white;
  color: indigo;
  position: fixed;
  top: 0;
  z-index: 10;
  // box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
  transition: all 1s ease;

  .wrapper {
    padding: 10px 70px;
    display: flex;
    align-items: center;
    justify-content: space-between;

    @media (max-width: 980px) { 
      padding: 10px 40px;
    }

    @media (max-width: 640px) { 
      padding: 10px 30px;
    }

    .left {
      display: flex;
      align-items: center;

      .logo {
        height: 50px;
        font-size: 2.5rem;
        text-decoration: none;
        color: inherit;
        font-weight: 700;
        margin-right: 30px;
        overflow: hidden;

        img {
          height: 80%;
        }
      }

      .itemContainer {
        display: flex;
        align-items: center;
        margin-left: 30px;

        @media (max-width: 768px) { 
          display: none;
        }

        .icon {
          font-size: 1.125rem;
          margin-right: 5px;
        }

        span {
          font-size: 0.9375rem;
          font-weight: 500;
        }
      }
    }

    .right {

      .hambuger {
        width: 40px;
        height: 25px;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        cursor: pointer; 
        overflow: hidden;

        span {
          width: 90%;
          height: 3px;
          background-color: indigo;
          transform-origin: left;
          transition: all 2s ease;
        }
      }
    }
  }

  &.active {
    background-color: indigo;
    color: white;

    .hambuger {      

      span {
        &:first-child {
          background-color: white;
          transform: rotate(45deg);          
        }

        &:nth-child(2) {
          background-color: white;
          opacity: 0;
        }

        &:last-child {
          background-color: white;
          transform: rotate(-45deg);          
        }
      }
    }
  }
}